.css-eqpfi5-MuiAccordionSummary-content.Mui-expanded {
  margin: 0px !important;
}

.css-1d159sf-MuiSvgIcon-root {
  width: 16.03px !important;
  height: 16.03px !important;

  @media (min-width: 1200px) {
    width: 24px !important;
    height: 24px !important;
  }

  @media (max-width: 599px) {
    width: 16.03px !important;
    height: 16.03px !important;
  }
}

.css-1pngdfn-MuiGrid-root>.MuiGrid-item {
  padding-left: 20px !important;
}

@media (max-width: 760px) {
  .css-1ujgvr6 {
    padding: 18px 10px 13px 11px !important;
    /* width: 150px !important; */
    width: auto
  }
}

@media (max-width: 760px) {
  .css-1n00nhg {
    padding: 13px 4px 13px 13px !important;
    height: 100%;
    width: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .css-ukjmfj {
    width: auto !important;
  }
}

/* .css-1jogci6 {
  padding: 0px 0px 0px 0px !important;
} */

.workflowAccordion {
  padding: 0px !important;
}

/* .MuiAccordionSummary-content .Mui-expanded .MuiAccordionSummary-contentGutters {

  padding: 0px !important;

} */